:root {
  /* Primary */
  --color-primary-dark: #495e57;
  --color-primary-light: #f4ce14;
  --color-primary-light-hover: #f5da53;

  /* Secondary */
  --color-secondary-dark: #ee9972;
  --color-secondary-light: #fbdabb;

  /* highlight */
  --color-highlight-silver: #edefee;
  --color-highlight-black: #333333;
  --color-highlight-white: #ffffff;

  --border-radius-sm: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --border-radius-full: 50%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.6%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  color: var(--color-highlight-black);
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  font-size: 1.4rem;
}

*:disabled {
  cursor: not-allowed;
}

/* select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}*/

/* Parent selector, finally 😃 */
/* button:has(svg) {
  line-height: 0;
} */

a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s color ease-in-out;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

img {
  max-width: 100%;
}

button {
  padding: 0.75rem 2rem;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius-lg);
  transition: 0.25s all ease-in-out;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button:hover {
  background-color: var(--color-primary-light-hover);
}

button.delivery {
  margin-top: auto;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
}

button.delivery:hover {
  color: var(--color-secondary-dark);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

.littleLemon {
  color: var(--color-primary-light);
}

.app-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 80rem;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: var(--color-highlight-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  font-weight: 700;
}

.navbar a.active {
  color: var(--color-primary-light);
}

.main {
  /* background-color: var(--color-secondary-light); */
}

.container {
  width: 80rem;
  margin: 0 auto;
}

.rate {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  gap: 0.4rem;
}

.error {
  font-size: 1.4rem;
  color: crimson;
  text-align: right;
}

/* Hero section */
.hero {
  background-color: var(--color-primary-dark);
}

.hero .hero__container {
  position: relative;
  width: 80rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero .hero__content,
.hero .hero__image {
  max-width: 30rem;
}

.hero .hero__image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--border-radius-xl);

  position: absolute;
  right: 0;
  top: 2rem;

  background-image: url("../public/assets/images/restaurantfood.jpg");
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin-top: 2rem;
  line-height: 0;
  color: var(--color-primary-light);
  text-transform: capitalize;
}

.hero h2 {
  margin-top: 0.5rem;
  color: var(--color-highlight-silver);
  text-transform: capitalize;
}

.hero p {
  margin: 10px 0 2rem;
  font-weight: 600;
  color: var(--color-highlight-silver);
}

/* Specials section */
.specials {
  margin-bottom: 8rem;
}

.specials__header {
  margin: 8rem 0;
  padding-top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.specials__item {
  max-width: 30rem;
  height: 450px;
  background-color: var(--color-highlight-silver);
  border-top-right-radius: var(--border-radius-xl);
  border-top-left-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.specials__item img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.specials__item__content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.specials__item__content div {
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials__item__name {
  text-transform: capitalize;
}

.specials__item__price {
  color: var(--color-secondary-dark);
}

.specials__item__description {
  margin: 2rem 0;
  font-size: 1.4rem;
  flex-grow: 1;
}

/* Testimonials section */
.testimonials {
  height: 600px;
  padding: 10rem 0;
}

.testimonials h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.testimonials__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.testimonials__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-highlight-silver);
  border-radius: var(--border-radius-sm);
}

.testimonials__name {
  text-transform: capitalize;
}

.testimonials__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonials__content img {
  width: 6rem;
  height: 6rem;
  border-radius: var(--border-radius-full);
}

.testimonials__content p {
  font-size: 1.3rem;
}

/* About section */
.about {
  padding: 5rem 0 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.about h1 {
  margin-top: 2rem;
  line-height: 0;
  color: var(--color-primary-light);
  text-transform: capitalize;
}

.about h2 {
  margin-top: 0.5rem;
  color: var(--color-secondary-dark);
  text-transform: capitalize;
}

.about p {
  margin: 10px 0 2rem;
  font-weight: 600;
  color: var(--color-highlight-black);
}

.about__image {
  position: relative;
}

.about img {
  max-width: 70%;
  position: absolute;
  border-radius: var(--border-radius-lg);
}
.about img:first-child {
  top: 10%;
  right: 0;
}

.about img:last-child {
  bottom: 10%;
  left: 0;
}
/* Footer */
.footer {
  background-color: var(--color-primary-dark);
  color: var(--color-highlight-silver);
}

.footer__container {
  width: 80rem;
  margin: 0 auto;
  padding: 5rem 0;

  display: grid;
  grid-template-columns: 25rem repeat(3, 1fr);
  gap: 3rem;
}

.footer__image {
  background-image: url("../public/assets/images/restaurant.jpg");
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-lg);
}

.footer__contact ul li {
  margin-bottom: 1rem;
}

.footer ul {
  flex-direction: column;
}

.footer ul li a:hover:not(.active) {
  color: var(--color-highlight-white);
}

.footer__social-media ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

/* Form */
.booking {
  margin: 2rem 0 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.booking__form {
  max-width: 30rem;

  display: grid;
  gap: 1rem;
}

.booking__form input,
.booking__form select {
  padding: 1rem;
  border: 1px solid crimson;
  border-color: var(--color-highlight-silver);
  border-radius: var(--border-radius-lg);
}

.booking__form button {
  text-align: center;
}

.booking__confirmation {
  padding: 1rem;
  background-color: var(--color-highlight-silver);
  border-radius: var(--border-radius-lg);
}
